extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src='img/nosotros.jpg', alt='imagen nosotros', class='img-fluid')
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc mauris, ultricies et lacus et, dapibus mollis ipsum. Nam ac vulputate metus. Suspendisse pretium scelerisque orci, ac pellentesque eros viverra id. Nam feugiat fringilla est, in imperdiet dui bibendum vel. In nec lacus nec elit mollis euismod. Phasellus sed mi dolor. Duis in eros diam. Donec tempor consectetur ex, nec venenatis tellus scelerisque eu. Praesent sit amet tristique elit. Aliquam dui felis, accumsan sit amet est eu, egestas tristique sem. Aliquam facilisis risus ac quam facilisis interdum. 

                p Curabitur venenatis pretium porttitor. Sed non gravida lacus. Integer aliquet urna ut mi viverra, nec facilisis lorem mattis. Fusce maximus, odio non luctus consequat, justo ipsum porta leo, id porta mi arcu a lorem. 

                p Sed non congue ipsum, ac tempus diam. Etiam quis aliquam diam, at pellentesque felis. Curabitur turpis dui, congue at aliquam id, pharetra at velit. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt='icono seguridad', class='img-fluid mb-4')
                    h2.mb-4 Seguridad
                    p Sed non congue ipsum, ac tempus diam. Etiam quis aliquam diam, at pellentesque felis. Sed non congue ipsum, ac tempus diam. Etiam quis aliquam diam, at pellentesque felis.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt='icono destino', class='img-fluid mb-4')
                    h2.mb-4 mejores destinos
                    p Sed non congue ipsum, ac tempus diam. Etiam quis aliquam diam, at pellentesque felis. Sed non congue ipsum, ac tempus diam. Etiam quis aliquam diam, at pellentesque felis.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt='icono precios', class='img-fluid mb-4')
                    h2.mb-4 Los mejores precios
                    p Sed non congue ipsum, ac tempus diam. Etiam quis aliquam diam, at pellentesque felis. Sed non congue ipsum, ac tempus diam. Etiam quis aliquam diam, at pellentesque felis.
